body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    /* Ajusta el tamaño del logo */
    height: 100px; /* Ajuste de altura */
    width: auto; /* Mantiene proporciones */
}

.carrito {
    /* Ajusta el tamaño del carrito y del icono de búsqueda */
    width: 30px;
    height: 30px;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cart {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 12px;
}

.course-details {
    display: flex;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 1200px;
}

.course-image img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.course-info {
    margin-left: 20px;
}

.course-info h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.course-info p {
    margin: 5px 0;
    font-size: 16px;
}

.inscribirse {
    padding: 10px 20px;
    background-color: #00bfa5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inscribirse:hover {
    background-color: #008e76;
}

.class-contents {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 1200px;
}

.class-contents h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.class-contents ul {
    list-style: none;
    padding: 0;
}

.class-contents ul li {
    font-size: 18px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.teacher-info {
    display: flex;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 1200px;
}

.teacher-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.teacher-details {
    margin-left: 20px;
}

.teacher-details h3 {
    font-size: 24px;
}

.rating span {
    font-size: 20px;
    color: gold;
}

.related-courses {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 1200px;
}

.related-courses h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.course-card {
    display: inline-block;
    width: 23%;
    margin-right: 2%;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    border-color: yellow;
}

.course-card h4 {
    font-size: 18px;
    color: #00bfa5;
}

.course-card p {
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #343a40;
    color: white;
    margin-top: 40px;
}