header {
    display: flex;
    background-color: white;
    align-items: center;
    height: 30%;
}

a {
    display: flex;
    justify-content: center;
}

.item-header {
    display: flex;
}

.item-header-logo {
    width: 25%;
}

.item-header-barra {
    width: 60%;
    justify-content: center;
}

.item-header-carrito {
    width: 15%;
    justify-content: center;
}

.logo {
    width: 50%;
}

.img-carrito {
    width: 28%;
}

.barra {
    width: 50%;
    font-size: 100%;
    padding: 0.5%;
    margin-right: 20%;
}

.numero-carrito-fijo {
    position: absolute;
    font-size: medium;
    color: #0f787f;
}