main {
    display: flex;
    flex-direction: column;
}


.section-main-carrousel {
    height: 50%;
    width: 100%;
    overflow:hidden;
    
}
.img-carrousel-pincipal {
    height: 33rem;
    width: 100%;
    object-fit:cover;
   
}