.items_menu,
.items {
    display: flex;
    height: 50px;
    justify-content: space-around;
    list-style: none;
    align-items: center;

}



.dropbtn {
    background-color: white;
    color: #44a6a6;
    padding: 5px;
    font-size: 20px;
    border: none;
}


.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    top:150px;
    width: fit-content;
    position:absolute;
}


.dropdown-content content:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown:hover .dropbtn {
    color: white;
    background-color: #44a6a6;
}

a {
   color: black;
}